.desarrollo-web{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    font-size: $text-md;
    position: relative;
    
    h2{
        @include subTitutlos($primario,1.6rem);
        i{
            margin-right: 1rem;
        }
    }
    p{
        margin-bottom: 1.4rem;
        text-align: center;
    }
    .inicio3{
        @include botonInicio($primario,1rem,1rem,2rem);
    }

    .contain-dw{
        display: grid;
        grid-template-columns: repeat(auto-fill,320px);
        justify-content: center;
        place-items: center;
        gap: 2rem;
        padding-bottom: 2rem;
        margin-top: 2rem;
        .card{
            border: 2px solid $primario;
            height: 35rem;
            border-radius: 2rem;
            padding:2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-weight: 700;
                text-align: center;
                margin: 1rem 0;
            }
            button{
                @include botones;
            }
            button:hover{
                @include botonHover;
            }
            div{
                width: 10rem;
                height: auto;
                img{
                    object-fit: contain;
                    width: 100%;
                }
            }
            p{
                margin: 1rem 0;
                text-align: justify;
                font-size: 1.2rem;
            }
            
        }
    }
    }
    @media (min-width:760px) {
        .contain-dw{
            display: grid;
            grid-template-columns: repeat(auto-fill,350px) !important;

        }
        .desarrollo-web{
            h2{
                @include subTitutlos($primario,3rem);
            }
            .inicio3{
                @include botonInicio($primario,.8rem,3rem,4rem);
            }
        }
    }