body{
  background-color: $color-fondo;
}
.navbar{
  width: 100%;
  height: 5rem;
  background-color: $secundario;
  position: relative;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  font-size: $text-lg;
  align-items: center;
  color: $white;
}
.nav-logo{
  margin-left: 1rem;
}
.menu-bar{
  grid-column: 9/10;
  justify-self: center;
  cursor: pointer;
  i{
    font-size: $text-md
  }
}
.menu-nav{
  list-style: none;
  position: absolute;
  top: 5rem;
  background-color: $secundario;
  width: 100vw;
  transition: all .4s;
  li{
    padding: 2rem 0 2rem 3rem;
    &:hover{
      transition: all .4s;
      background-color: $white;
      a{
        color: $secundario;
        font-size: $text-lg;
      }
    }
    a{
      text-decoration: none;
      color: $white;
      font-size: $text-md;
    }
  }
}
.mostrar{
  margin-left: -120%;
}

@media (min-width:780px){
  .menu-bar{
    display: none;
  }
  .menu-nav{
    width: 100%;
    display: flex;
    position: initial;
    background-color:initial;
    grid-column: 5/10;
    justify-content: space-around;
    li{
      padding:1rem;
      border: none;
      border-radius: .8rem;
    }
    
  }
  .mostrar{
    margin-left: 0%;
  }
  
}