
@mixin botones {
                width: 10rem;
                border: .1rem solid $primario;
                border-radius: 2rem;
                padding: .8rem;
                background-color: $white;
                margin-top:1rem;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: $primario;
                    font-weight: 500;
                    font-size: $text-md;
                }
};


@mixin botonHover {
    border: .1rem solid $primario;
    background-color:$primario;
    transition: .6s;
    a{
        color:$white;
    }
}

@mixin subTitutlos ($color-borde) {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        margin: 2rem 0;
        border-bottom:.2rem $color-borde solid;
        border-top:.2rem $color-borde solid;
        padding:1.4rem 0;
    
}

@mixin box($color){
    border-radius: 0.6rem;
    border: .2rem solid $color;
    text-align: justify;
    font-size: $text-md;
    padding: 1rem 2rem;
}