@mixin botones {
  width: 10rem;
  border: 0.1rem solid $primario;
  border-radius: 2rem;
  padding: 0.8rem;
  background-color: $white;
  margin-top: 1rem;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $primario;
    font-weight: 500;
    font-size: $text-md;
  }
}

@mixin botonHover {
  border: 0.1rem solid $primario;
  background-color: $primario;
  transition: 0.6s;
  a {
    font-weight: 700;
    color: $white;
    font-size: $text-lg;
  }
}

@mixin subTitutlos($color-borde, $texto) {
  color: $color-borde;
  text-transform: uppercase;
  font-size: $texto;
  text-align: center;
  margin: 3rem 0;
  border-bottom: 0.2rem $color-borde solid;
  border-top: 0.2rem $color-borde solid;
  padding: 1.8rem 0;
}

@mixin box($color) {
  border-radius: 0.6rem;
  border: 0.2rem solid $color;
  text-align: justify;
  font-size: $text-md;
  padding: 1rem 2rem;
}
@mixin botonInicio($color, $top, $right, $text) {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: $top !important;
  right: $right;
  .home {
    font-size: $text;
    border-radius: 0.8rem;
    color: $color;
    padding: 1rem;
  }
  .home:hover {
    background-color: $color;
    color: $white;
  }
}
