// MEDIDADS DE LONGITUD

$text-sm:1.4rem;
$text-md:1.6rem;
$text-lg:1.8rem;
$text-xlg:2rem;

// Colores

$white:#fff;
$black:#000;
$gris:rgba(0, 0, 0, 0.295);
$primario:rgba(0, 0, 255, 0.699);
$secundario:#2c4d5c;