// MEDIDADS DE LONGITUD

$text-sm:1.2rem;
$text-md:1.4rem;
$text-lg:1.6rem;
$text-xlg:1.8rem;

// Colores

$white:#fff;
$black:#000;
$gris:rgba(0, 0, 0, 0.295);
$primario:rgba(0, 0, 255, 0.699);
$secundario:#2c4d5c;
$purpura:blueviolet;
$color-fondo:rgba(46, 81, 97,.2);
$celeste:RGB(40, 162, 220);